
  <!-- Angular Material style sheet -->
	<style>
		.box {
		  background-color: lightblue;
		}
		
		.FullBox{
			height: 100%;
		}
		
	</style>
  
<div class="row section FullBox z-depth-2" style="background-color: #F0F0F0; border-radius:7px;" ng-controller="ProfileController">

	<!-- Left Pane  -->
	<div class="col s3 section FullBox " style="background-color: lightblue; text-align: center; border-radius:7px">
	
		<img class="circle responsive-img" style="margin-top: 3%" src="http://rs1056.pbsrc.com/albums/t380/rian170/spongebob/46566-spongebob-square-pants-sleepy-face-spongebob-wallpaper_zps2c00fb2c.jpg~c200">
		<div class="divider"></div>
		<p>Squarepants, Spongebob</p>
		<p>Software Engineer</p>
		
	</div>
	
	<!-- Right Pane -->
	<div class="col s9 section FullBox" style="background-color: #F0F0F0 ; " ng-controller="ProfileController">
        <div class="row center-align">
			<h5>CULTURE CODE</h5>
		<!-- <div class = "row FullBox"> -->
			
				<div class = "col s4">
					<div class = "card" style = "background-color: #3366ff">
                        <span class="cc-title">Integrity</span>
                        <div class="card-image">
                              <img src="images/integrity.jpg">
                            <span class="card-title col s12 cc-badge cc-badge-blue">{{integrity}}</span>
                        </div>
					</div>
				</div>
				<div class = "col s4" >
					<div class = "card " style = "background-color: #ff3333">
                        <span class="cc-title">Hardwork</span>
                        <div class="card-image">
                              <img src="images/hardwork.jpg">
                           <span class="card-title col s12 cc-badge " >{{hardwork}}</span>
                        </div>
					</div>
				</div>
          
				<div class = "col s4">
					<div class = "card " style = "background-color: #47d147">
                        <span class="cc-title">Fun</span>
                        <div class="card-image">
                              <img src="images/fun.jpg">
                           <span class="card-title col s12 cc-badge cc-badge-green">{{fun}}</span>
                        </div>
					</div>
				</div>
           
				<div class = "col s4">
					<div class = "card " style = "background-color: #3366ff">
                        <span class="cc-title">Sociable</span>
                        <div class="card-image">
                              <img src="images/sociable.jpg">
                            <span class="card-title col s12 cc-badge cc-badge-blue">{{sociable}}</span>
                        </div>
					</div>
				</div>
				<div class = "col s4">
					<div class = "card " style = "background-color: #ff3333">
                        <span class="cc-title">Learning</span>
                        <div class="card-image">
                              <img src="images/Learning.jpg">
                            <span class="card-title col s12 cc-badge cc-badge-red">{{learning}}</span>
                        </div>
					</div>
				</div>
				<div class = "col s4">
					<div class = "card " style = "background-color: #47d147">
                        <span class="cc-title">Creativity</span>
                        <div class="card-image">
                              <img src="images/creativity.jpg">
                            <span class="card-title col s12 cc-badge cc-badge-green">{{creativity}}</span>
                        </div>
					</div>
				</div> 
			
            </div>
			
			<div class="divider">&nbsp;</div>
			<div class="row center-align">
                 <h5>ENDORSEMENTS</h5>
                     <md-content>
                      <md-list flex>
                        <md-list-item ng-repeat="item in endorsements" ng-click="null">
                          <div class="md-list-item-text" layout="column">
                            <p>{{ item.message }}</p>
                          </div>
                        </md-list-item>
                    <md-list flex>
                    </md-content>
            </div>
		<!-- </div> -->
	</div>
</div>
<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->