<div class="row" ng-controller="LoginController">
  <div class="col s3 offset-3">
    <h1 style="text-align:center;">You_Raise Me App!</h1>
    <form class="col s3 offset-3">
      <div class="input-field col s12">
        <input placeholder="Placeholder" ng-model="email" type="email" class="validate">
      </div>
      <md-input-container>
        <input ng-model="email" type="email" autofocus="" placeholder="Email" >
      </md-input-container>
      <md-input-container>
        <input ng-model="password" type="password" autofocus="" placeholder="Password" >
      </md-input-container>
      <md-content md-theme="myTheme">
        <a href="#chapter1" class="md-accent">Sign Up</a>
      </md-content>
      <md-button class="md-raised" ng-click="SignIn($event)" type="submit">Sign in</md-button>
    </form>
  </div>
</div>