<style>
	
	.FullBox{
		height: 100%;
	}
	
	.card{
		text-align:center;
		border-radius:12px;
	}
	
</style>

<!-- <div class="row section FullBox z-depth-2"  style="background-color:#F0F0F0; border-radius:7px;" ng-controller="DashboardController"> -->

		<div class="section row" style="text-align:center;">
			<div class = "section">
				<div  class = "col s4 ">
					<div  class = "col s12" >
						  <div  class="chip " style="background-color: #4db8ff;" >
							<img ng-if="topThree && topThree.length > 1" src="{{topThree[1].imageUrl}}" >
							<img ng-if="!topThree || topThree.length <= 1" src="https://www.myteespot.com/images/Images_d/DSCF1024.jpg" >
								<div style="text-align:center">
								{{topThree[1].name}}
								<p>2nd</p>
								</div>
						  </div>
					 </div>
				</div>
				<div class = "col s4 ">
					<div  class = "col s12" >
					   <div class="chip "  style="background-color: #ff3333">
						<img ng-if="topThree && topThree.length > 0" src="{{topThree[0].imageUrl}}" >
						<img ng-if="!topThree || topThree.length <= 0" src="https://www.myteespot.com/images/Images_d/DSCF1024.jpg" >
							<div style="text-align:center">
							{{topThree[0].name}}
							<p>1st</p>
							</div>
							</div>
					  </div>
				 </div> 
				 <div class = "col s4 ">
					<div  class = "col s12" >
					   <div class="chip "  style=" background-color: #2eb82e">
						<img ng-if="topThree && topThree.length > 2" src="{{topThree[2].imageUrl}}" >
						<img ng-if="!topThree || topThree.length <= 2" src="https://www.myteespot.com/images/Images_d/DSCF1024.jpg">
							<div style="text-align:center">
							{{topThree[2].name}}
							<p>3rd</p>
							</div>
							</div>
					  </div>
				 </div> 
			</div> 
		</div>
		
		<div class="divider">
		</div>
		
		<div class="section row" >
				<div class = "section">
					<div class = "col s4 ">
						<div class = "card " style = "background-color: #4db8ff; margin-left: 4%;">
							<span class="cc-title">Integrity</span>
								<div class = "card-action" >
									<img class="circle" src="http://orig07.deviantart.net/cebb/f/2009/230/6/c/spongebob_14_150x150_png_by_somemilk.png" >
								</div>
						</div>
					</div>
					<div class = "col s4 ">
						<div class = "card " style = "background-color: #ff3333; margin-left: 2%; margin-right:2%;">
							<span class="cc-title">Hardwork</span>
							<div class = "card-action" >
									<img class="circle" src="http://orig07.deviantart.net/cebb/f/2009/230/6/c/spongebob_14_150x150_png_by_somemilk.png" >
							</div>
						</div>
					</div>
					<div class = "col s4 ">
						<div class = "card " style = "background-color: #2eb82e; margin-right: 4%;">
							<span class="cc-title">Fun</span>
							<div class = "card-action" >
									<img class="circle" src="http://orig07.deviantart.net/cebb/f/2009/230/6/c/spongebob_14_150x150_png_by_somemilk.png" >
							</div>
						</div>
					</div>
			</div>
			<div class = "section" >				
					<div class = "col s4 ">
						<div class = "card " style = "background-color: #4db8ff; margin-left: 4%;">
							<span class="cc-title">Sociable</span>
								<div class = "card-action">
									<img class="circle" src="http://orig07.deviantart.net/cebb/f/2009/230/6/c/spongebob_14_150x150_png_by_somemilk.png" >
								</div>
						</div>
					</div>
					<div class = "col s4 " >
						<div class = "card " style = "background-color: #ff3333; margin-left: 2%; margin-right:2%;">
							<span class="cc-title">Learning</span>
							<div class = "card-action" >
								<img class="circle" src="http://orig07.deviantart.net/cebb/f/2009/230/6/c/spongebob_14_150x150_png_by_somemilk.png" >
							</div>
						</div>
					</div>
					<div class = "col s4 ">
						<div class = "card " style = "background-color: #2eb82e; margin-right: 4%;">
							<span class="cc-title">Creativity</span>
							<div class = "card-action" >
								<img class="circle" src="http://orig07.deviantart.net/cebb/f/2009/230/6/c/spongebob_14_150x150_png_by_somemilk.png" >
							</div>
						</div>
					</div>
				</div>
		</div>
		
<!-- </div> -->
